torch
sentence-transformers
toml
# git+https://github.com/microsoft/guidance
# git+https://github.com/huggingface/transformers
# guidance==0.0.64

git+https://github.com/huggingface/accelerate.git@main
optimum
tqdm

guidance==0.0.64
# auto-gptq[triton]
https://github.com/PanQiWei/AutoGPTQ/releases/download/v0.4.1/auto_gptq-0.4.1+cu118-cp310-cp310-linux_x86_64.whl
# git+https://github.com/PanQiWei/AutoGPTQ
transformers
ctransformers
bitsandbytes
huggingface_hub
xformers==0.0.20

# for memory:
chromadb

# for exllama:
# safetensors==0.3.1
# sentencepiece>=0.1.97
# ninja==1.11.1