torch
sentence-transformers
toml
# git+https://github.com/microsoft/guidance
# git+https://github.com/huggingface/transformers
# git+https://github.com/PanQiWei/AutoGPTQ
guidance==0.0.64
auto-gptq
transformers
huggingface_hub
xformers

# for exllama:
# safetensors==0.3.1
# sentencepiece>=0.1.97
# ninja==1.11.1